{block content}
{control breadcrumb}
{var $order = ($type == 'DESC') ? 'fa fa-sort-alpha-desc' : 'fa fa-sort-alpha-asc'}
{var $orderNumber = ($type == 'DESC') ? 'fa fa-sort-numeric-desc' : 'fa fa-sort-numeric-asc'}
<h2 n:block="title">Administrace testů</h2>
{form testsFiltreForm}
<div class="admin-table-wrapper">
    <table class="stripped-table tests-table">
        <tr>
            <th></th>
            <th>
                <a href="{link sortTests! 'name', $type}">Název</a>
                <span n:if="$sort == name" class="order {$order}"></span>
            </th>
            <th>
                <a href="{link sortTests! 'description', $type}">Popis</a>
                <span n:if="$sort == description" class="order {$order}"></span>
            </th>
            <th>
                <a href="{link sortTests! 'users.username', $type}">Autor</a>
                <span n:if="$sort == 'users.username'" class="order {$order}"></span>
            </th>
            <th>Kategorie</th>
            <th>Sekce</th>
            <th>
                <a href="{link sortTests! 'question_count', $type}">Počet otázek</a>
                <span n:if="$sort == question_count" class="order {$orderNumber}"></span>
            </th>
            <th>
                <a href="{link sortTests! 'created_at', $type}">Přidáno</a>
                <span n:if="$sort == created_at" class="order {$orderNumber}"></span>
            </th>
            <th>
                <a href="{link sortTests! 'changed_at', $type}">Změněno</a>
                <span n:if="$sort == changed_at" class="order {$orderNumber}"></span>
            </th>
            <th>Stav</th>
            <th>Akce</th>
        </tr>

        <tr>    
                <td><input type="checkbox" class="check-all"></td>
                <td>{input namesearch}</td>
                <td>{input descriptsearch}</td>
                <td>{input authorsearch}</td>
                <td>{input categorySelect}</td>
                <td>{input sectionSelect}</td>
                <td>Počet otázek</td>
                <td>Vytvořeno</td>
                <td>změněno</td>
                <td>{input hiddenselect}</td>
                <td>
                    <button type="submit" class="ico-button large filter" title="Filtrovat"><span class="fa fa-filter"></span></button>
                    <a href="{link removeFilter!}" class="ico-button large" title="Zrušit filtr"><span class="fa fa-times"></span></a>
                    <button type="submit" class="ico-button large confirm-all" title="Smazat označené"><span class="fa fa-trash"></span></button>
                </td>        
        </tr>

        <tbody n:snippet="tests">
            {foreach $tests as $test}
                <tr>
                    <td><input type="checkbox" value="{$test->tests_id}"></td>
                    <td>{$test->name}</td>
                    <td>{$test->description}</td>
                    <td>{$test->users->username}</td>
                    <td>{$test->sections->category->name}</td>
                    <td>{$test->sections->name}</td>
                    <td>{$test->question_count}</td>
                    <td>{$test->created_at|date: 'd-m-Y'}</td>
                    <td>{$test->changed_at|date: 'd-m-Y'}</td>
                    <td>{$test->hidden|bool: 'Rozpracovaný', 'Dokončený'}</td>
                    <td>
                        <a href="{link :Front:Test:Show $test->tests_id}" class="ico-button" title="Zobrazit">
                            <span class="fa fa-eye"></span>
                        </a>
                        <a href="{link Test:Manage $test->tests_id}" class="ico-button" title="Editovat">
                            <span class="fa fa-pencil"></span>
                        </a>               
                        <a href="{link deleteTest! $test->tests_id}" class="confirm ico-button" title="Smazat">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>
{/form}
<div class="paginationWrapper">
    {control paginator}
</div>
