{block title}
    Úprava vlákna
{/block}

{block myScripts}
    <script src="{$basePath}/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="{$basePath}/js/front/forum-mce.js"></script>
{/block}
{block myCss}
    <link rel="stylesheet" href="{$basePath}/css/forum.css">	
{/block}
{block content}
<h2> Úprava vlákna </h2>
<div class="mce-form-wrapper">
    {control threadForm}
</div>

