{block content}
{control breadcrumb}
<h1 n:block=title> Zapomenuté heslo</h1>
<p> Vyplňte prosím emailovou adresu zadanou při registraci, odešleme Vám na ni email s odkazem pro změnu hesla. </p>
{control forgottenForm}
